# Build output
build/
x64/
Win32/
Debug/
Release/
HangManGame/
*.obj
*.pdb
*.ipdb
*.iobj
*.log
*.tlog
*.recipe

# Binaries & archives
*.dll
*.7z

# VS user settings
*.vcxproj.user
.vs/

# Local runtime data
hangman.db
